# misc/temp files
**/~*
*.log
*.bin
*.gci
*.img
*.dol
*.old
*.lock*
__pycache__
**/build/*
**/bin/*
**/old/*
**/dump/*
**/discroot/*
**/junk/*

# from https://github.com/github/gitignore
# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
