.fileList {
    display: flex;
    flex-direction: row;
}
.fileList .list {
    flex-basis: 20em;
    position: relative;
    padding-right: 5em; /* to stop size overlapping name */
    margin-right: 1em; /* don't butt up against border */
    overflow: auto;
    max-height: calc(100vh - 3em);
    min-width: 20%;
}
.fileList ul {
    padding-left: 1em;
}
.fileList li.file {
    padding-left: 0;
    /* stop file sizes moving to weird places */
    position: relative;
    width: 100%;
    padding-right: 4em;
}
.fileList .list .fileSize {
    position: absolute;
    right: 0;
    top: 0;
}
.fileList li.file:hover {
    color: #08F;
}
.fileList .file {
    padding-left: 1em;
}
.fileList .rightPane {
    flex-grow: 2;
    border-left: var(--border-left);
    padding-left: 1em;
}
.fileList div.fileInfo {
    padding-bottom: 1em;
}
.fileList .fileInfo table {
    display: inline-block;
}
.fileList .fileInfo button {
    vertical-align: top;
}
.fileList .fileViewer {
    padding-top: 1em;
    border-top: var(--border-top);
}
.fileList .buttons {
    display: inline-block;
    vertical-align: top;
}
.fileList .buttons button {
    width: 100%;
}
