.fileSelect .header {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border-bottom: 1px var(--border-color) solid;
}

.fileSelect .main {
    padding: 0.5em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fileSelect h1 {
    margin: 0;
}

.fileSelect input {
    border: 1px #888 solid;
    margin: 1em;
}

.fileSelect .box {
    flex-basis: 33%;
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    position: relative; /* for partial border */
}

.fileSelect .box::after {
    /* partial border hack */
    content: '';
    height: var(--border-size);
    background: var(--border-color);
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
  }

.fileSelect .box:not(:last-child) {
    border-right: 1px var(--border-color) solid;
}

#saveSlotContainer {
    display: none;
}
