.fileSelect .header {
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    border-bottom: 1px var(--border-color) solid;
    position: relative;
}

.fileSelect .support {
    position: absolute;
    top: 4px;
    right: 4px;
}

.fileSelect .main {
    padding: 0.5em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.fileSelect h1 {
    margin: 0;
}

.fileSelect input {
    border: 1px #888 solid;
    margin: 1em;
}

.fileSelect .box {
    flex-basis: 33%;
    flex-grow: 1;
    flex-shrink: 1;
    display: inline-block;
    margin-left: 1em;
    margin-top: 1em;
    padding-bottom: 1em;
    position: relative; /* for partial border */
}

.fileSelect .box::after {
    /* partial border hack */
    content: '';
    height: var(--border-size);
    background: var(--border-color);
    position: absolute;
    bottom: 0;
    left: 10%;
    right: 10%;
  }

/* XXX replace not-last-child with "everything at right side" somehow? */
.fileSelect .box:not(:last-child) {
    border-right: 1px var(--border-color) solid;
}

#saveSlotContainer {
    display: none; /* hide until file is selected */
}

@keyframes fadeIn {
    from {
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}
#tab-file-select .box {
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
}
#fileSelect_iso {
    animation: fadeIn 0.25s;
}
#fileSelect_save {
    animation: fadeIn 0.25s;
    animation-delay: 0.3s;
}
#fileSelect_ram {
    animation: fadeIn 0.25s;
    animation-delay: 0.4s;
}
#fileSelect_about {
    animation: fadeIn 0.25s;
    animation-delay: 0.5s;
}
