.bitTable0 { color: #888; }
.bitTable1 { color: #C40; }
.bitTable2 { color: #0C0; }
.bitTable3 { color: #08F; }

.objref { font-family: monospace; }
.objref .mapId { display: inline-block; min-width: 25% }
.objref .objNo { display: inline-block; min-width: 25% }
.objref .objId { display: inline-block; min-width: 25% }
.objref .param { display: inline-block; min-width: 25% }

.gameBits .hintText { font-style: italic; }
