.gametext {
    font-size: 20pt;
}
.gametext .justifyRight  { text-align: right; }
.gametext .justifyCenter { text-align: center; }
.gametext .justifyFull   { text-align: justify; }

.gametext .font0 { /* most Japanese text */
    font-family: 'FOT-RodinNTLG Pro B';
}
/* font1 doesn't exist */
.gametext .font2 { /* button icons */
    font-weight: bold;
    border: 2px #0F8 solid;
    border-radius: 25%;
}
.gametext .font3 { /* flag icons, faces */
    border: 2px #F80 solid;
    border-radius: 25%;
}
.gametext .font4 { /* most English text */
    font-family: 'EurostileBQ-Regular';
}
.gametext .font5 { /* faces */
    border: 2px #F00 solid;
    border-radius: 25%;
}
.gametext .command {
    border: none;
    background-color: #048;
    color: #FFF;
}
