html, body {
    background: #000;
    color: #FFF;
    padding: 0;
    margin: 0;
}
body {
    /* vw includes scrollbar areas */
    width:  calc(100vw - 1em);
    height: 100vh;
}

a { color: #00CCFF }

table {
    border-top: 1px #FFF solid;
    border-left: 1px #FFF solid;
}

td, th {
    border-right: 1px #FFF solid;
    border-bottom: 1px #FFF solid;
    border-collapse: collapse;
    padding: 2px;
}

tr:first-child th {
    position: sticky;
    top: 0;
    background: #000;
}
th { font-family: monospace; }
th.hex { text-align: right }

tr:nth-child(2n) { background: #333 }
tr:nth-child(2n+1) { background: #000 }
tr:hover { background: #666 }
tr.title, tr.title th {
    background: linear-gradient(#009DF3, #0000F0);
}

td ul { padding-left: 1em }

h1 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.info {
    border: 3px #088 ridge;
    background-color: rgba(0, 128, 128, 0.5);
    color: #FFF;
    margin: 1em;
    padding: 0.5em;
}
.notice {
    border: 3px #880 ridge;
    background-color: rgba(128, 128, 0, 0.5);
    color: #FFF;
    margin: 1em;
    padding: 0.5em;
}
tr.notice {
    font-style: italic;
    text-align: center;
}
.error {
    border: 3px #800 ridge;
    background-color: rgba(128, 0, 0, 0.5);
    color: #FFF;
    margin: 1em;
    padding: 0.5em;
}

.null { color: #888; }
.zero { color: #888; }
.invalid { color: #F88; }
.deleted { color: #CCC; text-decoration: line-through; }

.link {
    /* for "fake" links */
    text-decoration: underline;
    cursor: pointer;
}

.unsaved {
    font-weight: bold;
}

/* numbers */
.int   { text-align: right; font-family: monospace; white-space: pre; }
.hex   { text-align: right; font-family: monospace; white-space: pre; }
.float { text-align: right; font-family: monospace; white-space: pre; }

.hexdump { font-family: monospace; white-space: pre; }
.hexdump .line:nth-child(2n) { color: #DDD; }
.hexdump .line:nth-child(2n+1) { color: #FFF; }
.hexdump .line:hover { color: #08F; }

.textdump {
    font-family: monospace;
    white-space: pre;
}

.collapseList .count::before { content: '[' }
.collapseList .count::after { content: '] ' }

table .controls {
    border-bottom: 1px #FFF solid;
}
.columnPicker {
    position: absolute;
    right:    0;
    top:      4px;
    border:   1px #FFF solid;
    background: rgba(53, 31, 31, 0.75);
    list-style-type: none;
    padding: 4px;
    padding-right: 12px;
    z-index: 2;
}
.table h1 {
    font-size: 1em;
    margin: 0;
    display: inline-block;
}
.table .controls {
    position: relative;
    height: 1.5em;
    background: linear-gradient(#009DF3, #0000F0);
    border: 1px #DDD solid;
}
.table .controls button {
    font-size: 0.8em;
    position: absolute;
    right: 0;
    top: 0;
}

/* XXX move this */
.imageView {
    border: 1px #F0F solid;
    background-color: #C0C0C0;
    background-image:
        linear-gradient( 45deg, #808080 25%, transparent 25%),
        linear-gradient(-45deg, #808080 25%, transparent 25%),
        linear-gradient( 45deg, transparent 75%, #808080 75%),
        linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 16px 16px;
    background-position: 0 0, 0 8px, 8px -8px, -8px 0px;
}
#map-view-canvas {
    border: 1px #888 solid;
}

.tabMapView summary {
    background: linear-gradient(#009DF3, #0000F0);
}

.tabMapView .map-grid {
    position: fixed;
    top: 5em;
    right: 0.5em;
    background: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    border: 1px #CCC solid;
}

.tabMapView .map-grid td, .tabMapView .map-grid tr {
    background: none;
}

.tabMapView .map-grid td {
    width:       25px;
    height:      25px;
    font-size:   11px;
    text-align:  right;
    font-family: monospace;
    padding:     1px;
}
.tabMapView .map-grid td.current {
    background: #009DF3;
}

.gl-view-control {
    position: fixed;
    top: 5em;
    left: 0.5em;
    background: rgba(0, 0, 0, 0.5);
    font-size: 0.8em;
    border: 1px #CCC solid;
}

.gl-view-control table, .gl-view-control tr,
.gl-view-control th, .gl-view-control td {
    background: none;
}

.gl-view-control tr:first-child th {
    /* override previous rules */
    background: none;
}

.gl-view-control input[type=number] {
    width: 5em;
    background: rgba(0, 0, 0, 0.25);
    color: #FFF;
    font-family: monospace;
    font-size: 1em;
}
