html, body {
    background: #000;
    color: #FFF;
    padding: 0;
    margin: 0;
}
body {
    /* vw includes scrollbar areas */
    width:  calc(100vw - 1em);
    height: 100vh;
}

a { color: #00CCFF }

table {
    border-top: 1px #FFF solid;
    border-left: 1px #FFF solid;
}

td, th {
    border-right: 1px #FFF solid;
    border-bottom: 1px #FFF solid;
    border-collapse: collapse;
    padding: 2px;
}

tr:first-child th {
    position: sticky;
    top: 0;
    background: #000;
}
th { font-family: monospace; }
th.hex { text-align: right }

tr:nth-child(2n) { background: #333 }
tr:nth-child(2n+1) { background: #000 }
tr:hover { background: #666 }

td ul { padding-left: 1em }

h1 {
    margin-top: 4px;
    margin-bottom: 4px;
}

.info {
    border: 3px #088 ridge;
    background-color: rgba(0, 128, 128, 0.5);
    color: #FFF;
    margin: 1em;
    padding: 0.5em;
}
.notice {
    border: 3px #880 ridge;
    background-color: rgba(128, 128, 0, 0.5);
    color: #FFF;
    margin: 1em;
    padding: 0.5em;
}
tr.notice {
    font-style: italic;
    text-align: center;
}
.error {
    border: 3px #800 ridge;
    background-color: rgba(128, 0, 0, 0.5);
    color: #FFF;
    margin: 1em;
    padding: 0.5em;
}

.null { color: #888; }
.zero { color: #888; }
.invalid { color: #F88; }

.link {
    /* for "fake" links */
    text-decoration: underline;
    cursor: pointer;
}

/* numbers */
.int { text-align: right; font-family: monospace; white-space: pre; }
.hex { text-align: right; font-family: monospace; white-space: pre; }

.hexdump { font-family: monospace; white-space: pre; }
.hexdump .line:nth-child(2n) { color: #DDD; }
.hexdump .line:nth-child(2n+1) { color: #FFF; }
.hexdump .line:hover { color: #08F; }

