.mapGrid .body {
    overflow: auto;
    width: 100%;
    height: calc(100% - 4em);
}

.mapGrid .notice {
    position: absolute;
    top: 1em;
    left: auto;
    right: auto;
}

.mapGrid table {
    border-spacing: 0;
    table-layout: fixed;
    width: 100%;
}

.mapGrid tr, .mapGrid td {
    border: 1px #888 dotted;
    border-collapse: collapse;
    background-position: center center;
    background-size: cover;
}

.mapGrid td {
    color: #FFF;
}

/* we can't change the background-color opacity without specifying a color... */
.mapGrid td.oob     { opacity: 0.75; }
.mapGrid td.xZero   { border-left: 1px #CCC dashed; border-right:  1px #CCC dashed; }
.mapGrid td.zZero   { border-top:  1px #CCC dashed; border-bottom: 1px #CCC dashed; }
.mapGrid td.left    { border-left:   1px #FFF solid; }
.mapGrid td.right   { border-right:  1px #FFF solid; }
.mapGrid td.bottom  { border-bottom: 1px #FFF solid; }
.mapGrid td.top     { border-top:    1px #FFF solid; }
.mapGrid td.origin  { border:        2px #0FF solid; }
.mapGrid td.hasWarp { border:        2px #F0F solid; }
.mapGrid td.origin.hasWarp {
    border-top:    2px #0FF solid;
    border-left:   2px #0FF solid;
    border-right:  2px #F0F solid;
    border-bottom: 2px #F0F solid;
}
.mapGrid td.krystal { background-image: url(/r/icons/krystal.svg); }
.mapGrid td.fox     { background-image: url(/r/icons/fox.svg); }

.mapGrid tr {
    background-color: #000;
}

.mapGrid td, .mapGrid th {
    width:       25px;
    height:      25px;
    font-size:   11px;
    text-align:  right;
    font-family: monospace;
    padding:     1px;
}
