.taskProgress {
    position: fixed;
    top: calc(50% - 5em);
    bottom: calc(50% - 5em);
    left: calc(50% - 20em);
    right: calc(50% - 20em);
    padding: 1em;
    border: 3px var(--border-color) ridge;
    background-color: rgba(2, 74, 92, 0.75);
    /* color: #FFF; */
    box-shadow: 4px 4px 2px #444;
    text-align: center;
}

.taskProgress progress {
    display: block;
    margin: auto;
}

.taskProgress h1, .taskProgress h2 {
    margin-top: 0;
    margin-bottom: 0;
}
